<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Teste da SIMAS</h1>
    <h2>Carros</h2>
    <ul>
        <li><a href="./carros">Novo</a></li>
        {% for carro in carros %}
        <li>{{carro}} <a href="./deletecarro/?id={{carro.id}}">APAGAR</a></li>
        {% endfor %}
    </ul>
    <h2>Fabricantes</h2>
    <ul>
        <li><a href="./fabricantes">Novo</a></li>
        {% for fabricante in fabricantes %}
        <li>{{fabricante}} <a href="./deletefabricante/?id={{fabricante.id}}">APAGAR</a></li>
        {% endfor %}
    </ul>
</body>
</html>